@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-instrument-serif: var(--font-instrument-serif);
  --color-blue: #2134d9;
  --color-yellow: #DECB26;
  --color-dark-yellow: #DC9E08; 
  --color-black: #272727;
  --color-grey: #575757;
  --color-light-grey: #E4E4E4;
}

body {
  @apply font-inter;
}

.container {
  @apply max-w-[1600px] mx-auto px-10;
}

.nav-link {
  @apply uppercase text-blue text-xs font-bold leading-4;
}

.cv-list__item {
  @apply py-9 border-t border-t-light-grey font-bold text-base text-black;
}

.cv-list__item > .container {
  @apply flex items-center justify-between;
}